
<simple-form [formComponent]="instance" [pageComponent]="instance" [schema]="schema.FRM0000001" [formData]="formData">

</simple-form>

<simple-form [formComponent]="instance" [pageComponent]="instance" [schema]="schema.FRM0000002" [formData]="formData">
  <!-- <p class="top-external-content">top-content My External Content</p> -->
  <!-- <p class="above-button-external-content">above-button-external-content My External Content</p> -->
  <!-- <p>My External Content</p> -->
</simple-form>
<!--The content below is only a placeholder and can be replaced.-->
<DTBL00000001 [pageComponent]="instance"></DTBL00000001>
